{% extends "index.html" %}

{% block content %}
<div class="container d-flex justify-content-center align-items-center min-vh-100">
  <div class="auth-form bg-white p-4 rounded shadow">
  <h2 class="mb-4 text-center">Register</h2>
  <form id="registerForm" action="{{ url_for('register') }}" method="POST">
    
    <div class="mb-3">
      <label for="registerUsername" class="form-label">Username</label>
      <input type="text" class="form-control" name="username" required>
    </div>

    <div class="mb-3">
      <label for="registerEmail" class="form-label">Email</label>
      <input type="email" class="form-control" name="email" required>
    </div>

    <div class="mb-3 position-relative">
      <label for="registerPassword" class="form-label">Password</label>
      <input type="password" id="registerPassword" class="form-control" name="password" required>
      <i class="fas fa-eye-slash toggle-password"></i>
    </div>

    <div class="mb-3 position-relative">
      <label for="registerConfirmPassword" class="form-label">Confirm Password</label>
      <input type="password" id="registerConfirmPassword" class="form-control" name="confirmpassword" required>
      <i class="fas fa-eye-slash toggle-password"></i>
    </div>

    <p class="form-text text-muted">
      Password must be at least <strong>8 characters</strong> long and include 
      <strong>one special character</strong> (e.g., <code>@</code>, <code>#</code>, <code>!</code>) and 
      <strong>one number</strong>.
    </p>
    

    <div class="text-center mt-3">
      <button type="submit" class="btn btn-primary px-5"><i class="fas fa-user-plus"></i> Register</button>
    </div>
  </form>
  <p class="mt-3 text-center">Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</div>
</div>
{% endblock %}
